body {
    margin-top: var(--header-height);
    margin-bottom: var(--header-height);

    @apply bg-white dark:bg-zinc-800;
    @apply text-black dark:text-zinc-100;
}

@utility layout-bar {
    @apply fixed right-0 left-0;
    @apply flex items-center justify-center;
    @apply backdrop-blur-lg;
    @apply z-50;
    @apply bg-white/20 dark:bg-zinc-600/20;
    height: var(--header-height);
}

@utility layout-header {
    @apply layout-bar;
    @apply top-0;
}

@utility layout-footer {
    @apply layout-bar;
    @apply bottom-0;
}
